In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('unemployment analysis.csv' , sep=",")

In [4]:
df.dtypes

Country Name     object
Country Code     object
1991            float64
1992            float64
1993            float64
1994            float64
1995            float64
1996            float64
1997            float64
1998            float64
1999            float64
2000            float64
2001            float64
2002            float64
2003            float64
2004            float64
2005            float64
2006            float64
2007            float64
2008            float64
2009            float64
2010            float64
2011            float64
2012            float64
2013            float64
2014            float64
2015            float64
2016            float64
2017            float64
2018            float64
2019            float64
2020            float64
2021            float64
dtype: object

In [5]:
df.describe()

,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
count,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,...,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000
mean,7.278000,7.626340,8.070766,8.246043,8.333915,8.494894,8.394043,8.441064,8.568043,8.438979,...,8.062553,8.086468,7.924340,7.818426,7.720979,7.485404,7.247404,7.087362,8.278809,8.219660
std,6.013749,6.296617,6.335855,6.243778,6.330822,6.358431,6.206845,6.133045,6.088361,6.126318,...,5.780173,5.832019,5.699899,5.574759,5.456333,5.318381,5.240429,5.129146,5.470319,5.506914
min,0.300000,0.340000,0.410000,0.470000,0.500000,0.560000,0.540000,0.560000,0.570000,0.580000,...,0.480000,0.250000,0.200000,0.170000,0.150000,0.140000,0.110000,0.100000,0.210000,0.260000
25%,2.945000,3.140000,3.700000,3.890000,3.945000,3.995000,4.020000,4.085000,4.275000,4.070000,...,4.090000,4.245000,4.200000,4.315000,4.310000,4.075000,3.875000,3.805000,4.620000,4.750000
50%,5.410000,5.710000,6.030000,6.550000,6.700000,7.050000,6.930000,6.890000,6.690000,6.530000,...,6.450000,6.290000,6.150000,6.080000,6.010000,5.800000,5.620000,5.530000,6.800000,6.580000
75%,9.815000,10.170000,10.895000,11.110000,11.050000,11.405000,11.090000,11.500000,11.845000,11.565000,...,10.655000,10.465000,10.290000,10.080000,9.895000,9.445000,9.060000,8.605000,10.230000,10.245000
max,36.120000,36.390000,36.740000,36.980000,37.340000,38.800000,37.940000,37.160000,36.350000,35.460000,...,31.020000,29.000000,28.030000,27.690000,26.540000,27.040000,26.910000,28.470000,29.220000,33.560000

In [6]:
dfnew = pd.DataFrame()
for y in df.columns[ 2: ]:
    dftemp = df.loc[ : , ["Country Name","Country Code",y] ]
    dftemp["Year"] = y
    dftemp.columns = ['Country Name', 'Country Code', 'Value', 'Year']
    dftemp = dftemp.loc[ : , ['Country Name', 'Country Code', 'Year', 'Value'] ]
    
    dfnew = pd.concat([dfnew, dftemp])

In [7]:
df.columns[ 1 : 4 ]

Index(['Country Code', '1991', '1992'], dtype='object')

In [8]:
df

,Country Name,Country Code,1991,1992,1993,1994,1995,1996,1997,1998,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Africa Eastern and Southern,AFE,7.80,7.84,7.85,7.84,7.83,7.84,7.86,7.81,...,6.56,6.45,6.41,6.49,6.61,6.71,6.73,6.91,7.56,8.11
1,Afghanistan,AFG,10.65,10.82,10.72,10.73,11.18,10.96,10.78,10.80,...,11.34,11.19,11.14,11.13,11.16,11.18,11.15,11.22,11.71,13.28
2,Africa Western and Central,AFW,4.42,4.53,4.55,4.54,4.53,4.57,4.60,4.66,...,4.64,4.41,4.69,4.63,5.57,6.02,6.04,6.06,6.77,6.84
3,Angola,AGO,4.21,4.21,4.23,4.16,4.11,4.10,4.09,4.07,...,7.35,7.37,7.37,7.39,7.41,7.41,7.42,7.42,8.33,8.53
4,Albania,ALB,10.31,30.01,25.26,20.84,14.61,13.93,16.88,20.05,...,13.38,15.87,18.05,17.19,15.42,13.62,12.30,11.47,13.33,11.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,Samoa,WSM,2.10,2.38,2.63,3.04,3.19,3.47,3.90,4.18,...,8.75,8.67,8.72,8.50,8.31,8.58,8.69,8.41,9.15,9.84
231,"Yemen, Rep.",YEM,8.32,8.31,8.35,8.34,8.96,9.59,10.20,10.81,...,13.17,13.27,13.47,13.77,13.43,13.30,13.15,13.06,13.39,13.57
232,South Africa,ZAF,29.95,29.98,29.92,29.89,29.89,29.87,29.91,29.95,...,24.73,24.56,24.89,25.15,26.54,27.04,26.91,28.47,29.22,33.56
233,Zambia,ZMB,18.90,19.37,19.70,18.43,16.81,15.30,13.64,12.00,...,7.85,8.61,9.36,10.13,10.87,11.63,12.01,12.52,12.85,13.03
234,Zimbabwe,ZWE,4.94,4.99,4.97,4.96,5.63,6.25,6.93,6.46,...,5.15,4.98,4.77,4.78,4.79,4.78,4.80,4.83,5.35,5.17

In [9]:
dfnew

                    Country Name Country Code  Year  Value
0    Africa Eastern and Southern          AFE  1991   7.80
1                    Afghanistan          AFG  1991  10.65
2     Africa Western and Central          AFW  1991   4.42
3                         Angola          AGO  1991   4.21
4                        Albania          ALB  1991  10.31
..                           ...          ...   ...    ...
230                        Samoa          WSM  2021   9.84
231                  Yemen, Rep.          YEM  2021  13.57
232                 South Africa          ZAF  2021  33.56
233                       Zambia          ZMB  2021  13.03
234                     Zimbabwe          ZWE  2021   5.17

[7285 rows x 4 columns]

In [10]:
dfnew.to_csv('dfnew.csv')